<a href="https://colab.research.google.com/github/HongJeongHwan/Data_Preprocessing/blob/main/%EC%8B%A4%EC%8A%B505_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## § 누락 데이터 처리(필수)

In [ ]:
# 누락 처리에 필요한 데이터 생성하기

# 필요한 라이브러리 임포트
import pandas as pd

# csv file 경로 설정
file_path = '/content/drive/MyDrive/KDT/정형데이터분석시각화/ns_202104.csv'
df_ns = pd.read_csv(file_path,encoding='cp949')

# 기본 데이터 생성하기
df_book = df_ns.drop(columns =['Unnamed: 13'])

# 결과 확인하기
# print(df_book)
df_book

### ■ 누락된 데이터의 개수 확인

In [ ]:
# isnull() 함수

# isnull() 함수 사용 --> 불리언 배열 생성
df_nulls = df_book.isnull()
print(f'전체 데이터에 대한 누락 여부 확인 :\n{df_nulls}\n')

# sum() 함수 사용  -->>  누락된 데이터 개수 연산
s_nulls = df_nulls.sum()

# 결과 확인
print(f'{s_nulls}')

In [ ]:
# 각 컬럼별 누락된 데이터가 존재하는 행의 인덱스 추출

# 컬럼 : 도서명 컬럼
# df_book.도서명.isnull()
cond1 = df_book.loc[:,'도서명'].isnull()
print(f'{cond1}\n')

# df_book.loc[cond1,:]
s_nulls1 = df_book.도서명.loc[cond1]

# 결과 확인하기
print(f'{s_nulls1}\n')

# 누락된 데이터(행) --> 인덱스 추출
index_nulls1 = s_nulls1.index
print(f'도서명 컬럼에서 누락인 행의 인덱스 :\n{index_nulls1}\n')

# 컬럼 : 저자 컬럼
cond2 = df_book.loc[:,'저자'].isnull()
print(f'{cond2}\n')

# df_book.loc[cond1,:]
s_nulls2 = df_book.저자.loc[cond2]

# 결과 확인하기
print(f'{s_nulls2}\n')

# 누락된 데이터(행) --> 인덱스 추출
index_nulls2 = s_nulls2.index
print(f'저자 컬럼에서 누락인 행의 인덱스 :\n{index_nulls2}\n')

### ■ 누락 데이터 삭제하기

#### → drop(index=[])

In [ ]:
# 특정 컬럼 --> 누락 데이터 제거

# 컬럼 : 도서명 --> df.도서명.drop(index=[])
df_cleaned_name1 = df_book.도서명.drop(index=index_nulls1)

# 결과 확인하기
print(f'도서명 컬럼에서 누락된 데이터를 제외한 나머지 데이터 :\n{df_cleaned_name1}\n')

df_cleaned_name1.isnull().sum()


# 컬럼 : 저자 --> df.저자.drop(index=[])
df_cleaned_name2 = df_book.저자.drop(index=index_nulls2)

# 결과 확인하기
print(f'도서명 컬럼에서 누락된 데이터를 제외한 나머지 데이터 :\n{df_cleaned_name2}\n')

df_cleaned_name2.isnull().sum()

도서명 컬럼에서 누락된 데이터를 제외한 나머지 데이터 :
0                       인공지능과 흙
1                  가짜 행복 권하는 사회
2         나도 한 문장 잘 쓰면 바랄 게 없겠네
3                       예루살렘 해변
4         김성곤의 중국한시기행 : 장강·황하 편
                  ...
401677                  韓國現代詩大系
401678                    뉴 웨이브
401679             (최인훈 장편소설)화두
401680             독일 문학과 세계 문학
401681               참으로 소중한 생각
Name: 도서명, Length: 401279, dtype: object

도서명 컬럼에서 누락된 데이터를 제외한 나머지 데이터 :
0                   김동훈 지음
1                   김태형 지음
2                   김선영 지음
3         이도 게펜 지음, 임재희 옮김
4                   김성곤 지음
                ...
401677              채만묵 編著
401678          제임스 모나코 지음
401679              최인훈 지음
401680              吳漢鎭 編著
401681              김일상 지음
Name: 저자, Length: 401481, dtype: object

0

In [ ]:
# 나의 실습

cond1 = df_book.loc[:,'도서명'].isnull()
# print(f'{cond1}\n')

# df_book.loc[cond1,:]
s_nulls1 = df_book.도서명.loc[cond1]

# 결과 확인하기
# print(f'{s_nulls1}\n')

# 누락된 데이터(행) --> 인덱스 추출
index_nulls1 = s_nulls1.index


df_cleaned_name3 = df_book.drop(index=index_nulls1)

# 결과 확인하기
print(f'도서명 컬럼에서 누락된 데이터를 제외한 나머지 데이터 :\n{df_cleaned_name3}\n')

#### → dropna(axis,subset,inplace)

In [ ]:
# df.dropna()
df_book1 = df_book.dropna()
print(f'전체 컬럼에 대해서 누락인 데이터가 1개라도 존재하는 행 제거 결과 :\n{df_book1}\n')

# df.dropna(subset=[])
df_book2 = df_book.dropna(subset=['도서명','저자'])
# df_book2 = df_book.dropna(subset=['도서명','저자'], ignore_index=True)
print(f'도서명과 저자 컬럼에 대해서 누락인 데이터가 1개라도 존재하는 행 제거 결과 :\n{df_book2}\n')
# ignore_index : 2.0.0부터 동작(현재 버전(pd.__version__) :1.5.3)

##### : pandas version

In [ ]:
# 판다스 버전 확인
print(pd.__version__)

1.5.3

In [ ]:
# 기존 pandas 제거
!pip uninstall pandas

In [ ]:
# 기존 pandas 재설치
!pip install pandas==1.5.3

### ■ 누락된 데이터 변경하기

#### → fillna()

In [ ]:
# fillna() 이용 --> 누락된 데이터 변경

# 대상 : DataFrame
df_fill1 = df_book.fillna('없음')

# 결과 확인하기
print(f'{df_fill1}\n')


# 대상 : 특정 컬럼(1) --> 세트 ISBN

# df.col.fillna(value)
s_fill = df_book.loc[:,'세트 ISBN'].fillna('원래없음')

# 결과 확인하기
print(f'{s_fill}\n')

# 대상 : 특정 컬럼(2) --> 세트 ISBN

# 결과물이 DataFrame으로 하려면
df_fill2 = df_book.fillna({'세트 ISBN':'원래없음'})

# 결과 확인하기
print(f'{df_fill2}\n')

#### → replace()

In [ ]:
# replace() 이용 --> 여러개의 데이터를 변경하기

# 필요한 라이브러리 임포트
import numpy as np

# replace() --> python dict 자료형 --> {key:value} 쌍으로 전달
df_book3 = df_book.replace({np.nan:'없음','2021':'21'})

# 결과 확인하기
print(f'{df_book3}\n')

In [ ]:
# replace() --> 컬럼마다 다른 값으로 바꾸는 경우
# df.replace({col1:{old:new},col2:{old:new},,,,,,})
df_book4 = df_book.replace({'부가기호':{np.nan:'없음'},'발행년도':{'2020':'20','2021':'21','2022':'22','2023':'23'}})

# 결과 확인하기
print(f'{df_book4}')

In [ ]:
df_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401682 entries, 0 to 401681
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       401682 non-null  int64
 1   도서명      401279 non-null  object
 2   저자       401481 non-null  object
 3   출판사      396887 non-null  object
 4   발행년도     401665 non-null  object
 5   ISBN     401682 non-null  object
 6   세트 ISBN  61871 non-null   object
 7   부가기호     325034 non-null  object
 8   권        68267 non-null   object
 9   주제분류번호   381360 non-null  object
 10  도서권수     401682 non-null  int64
 11  대출건수     401682 non-null  int64
 12  등록일자     401682 non-null  object
dtypes: int64(3), object(10)
memory usage: 39.8+ MB

## § 이상치(outlier) 처리(선택)

In [ ]:
# 이상치가 포함된 데이터 불러오기

# 필요한 라이브러리 임포트
import pandas as pd

# file_path 설정
file_path = '/content/drive/MyDrive/KDT/정형데이터분석시각화/weather.csv'

# pd.read_csv()
df_weather = pd.read_csv(file_path)

# 결과 확인하기
print(f'{df_weather}')

       temp  hum   atm  speed
0        17   34  1018    3.1
1        17   34  1018    3.1
2        17   34  1018    3.1
3        17   34  1018    3.1
4        17   34  1018    3.1
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[100000 rows x 4 columns]

### ■ df.describe()

In [ ]:
# 요약 통계량 구하기 --> 변수.describe()
# 숫자로 표현된 컬럼만 표시한다.
df_stats = df_weather.describe()

print(df_stats)

                temp            hum            atm          speed
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       16.909460      78.159290    1005.071590       3.315666
std         3.840548      21.021064       5.657643       1.915367
min         9.000000      17.000000     993.000000       0.500000
25%        15.000000      66.000000    1002.000000       1.500000
50%        16.000000      87.000000    1006.000000       3.100000
75%        19.000000      93.000000    1007.000000       4.600000
max        27.000000     100.000000    1028.000000      10.300000

#### → temp 컬럼 이상치 제거

In [ ]:
# 온도 컬럼의 첫번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
temp1_q1 = df_stats.loc['25%','temp']
temp1_q3 = df_stats.loc['75%','temp']
temp1_min = df_stats.loc['min','temp']
temp1_max = df_stats.loc['max','temp']
temp1_IQR = temp1_q3-temp1_q1
# print(temp_IQR)
temp1_min_outlier = temp1_q1-(1.5*temp1_IQR)
temp1_max_outlier = temp1_q3+(1.5*temp1_IQR)

print(f'온도 컬럼의 첫번째 1사분위 값 = {temp1_q1}')
print(f'온도 컬럼의 첫번째 3사분위 값 = {temp1_q3}')
print(f'온도 컬럼의 첫번째 IQR = {temp1_IQR}')
print(f'온도 컬럼의 첫번째 정상범위의 최소값 = {temp1_min_outlier}')
print(f'온도 컬럼의 첫번째 정상범위의 최대값 = {temp1_max_outlier}')

온도 컬럼의 첫번째 1사분위 값 = 15.0
온도 컬럼의 첫번째 3사분위 값 = 19.0
온도 컬럼의 첫번째 IQR = 4.0
온도 컬럼의 첫번째 정상범위의 최소값 = 9.0
온도 컬럼의 첫번째 정상범위의 최대값 = 25.0

In [ ]:
# 이상치 추출
cond = (df_weather.temp < temp1_min_outlier) | (df_weather.temp > temp1_max_outlier)
print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = df_weather.temp.loc[cond]
s_outlier_index = df_weather.temp.loc[cond].index
print(f'온도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_temp = df_weather.temp.drop(index=s_outlier_index)

# 결과 확인
print(f'온도 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_temp}\n')
# cond = ~cond
# print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{df_weather.temp.loc[cond]}\n')

In [ ]:
# 온도 컬럼의 두번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_temp = cleaned_temp.describe()
print(f'온도 컬럼의 두번째 요약 통계량 :\n{stats_temp}\n')

temp2_q1 = stats_temp.loc['25%']
temp2_q3 = stats_temp.loc['75%']
temp2_min = stats_temp.loc['min']
temp2_max = stats_temp.loc['max']
temp2_IQR = temp2_q3-temp2_q1
# print(temp_IQR)
temp2_min_outlier = temp2_q1-(1.5*temp2_IQR)
temp2_max_outlier = temp2_q3+(1.5*temp2_IQR)

print(f'온도 컬럼의 두번째 1사분위 값 = {temp2_q1}')
print(f'온도 컬럼의 두번째 3사분위 값 = {temp2_q3}')
print(f'온도 컬럼의 두번째 IQR = {temp2_IQR}')
print(f'온도 컬럼의 두번째 정상범위의 최소값 = {temp2_min_outlier}')
print(f'온도 컬럼의 두번째 정상범위의 최대값 = {temp2_max_outlier}')

온도 컬럼의 두번째 요약 통계량 :
count    97484.000000
mean        16.665627
std          3.572323
min          9.000000
25%         15.000000
50%         16.000000
75%         19.000000
max         25.000000
Name: temp, dtype: float64

온도 컬럼의 첫번째 1사분위 값 = 15.0
온도 컬럼의 첫번째 3사분위 값 = 19.0
온도 컬럼의 첫번째 IQR = 4.0
온도 컬럼의 첫번째 정상범위의 최소값 = 9.0
온도 컬럼의 첫번째 정상범위의 최대값 = 25.0

In [ ]:
# 온도 컬럼의 두번째 이상치 추출
cond = (cleaned_temp < temp2_min_outlier) | (cleaned_temp > temp2_max_outlier)
print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_temp.loc[cond]
s_outlier_index = cleaned_temp.loc[cond].index
print(f'온도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: temp, Length: 97484, dtype: bool

온도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([], dtype='int64')

온도 컬럼의 이상치를 제거한 결과 확인하기 :
0        17
1        17
2        17
3        17
4        17
         ..
99995     9
99996     9
99997     9
99998     9
99999     9
Name: temp, Length: 97484, dtype: int64

#### → hum 컬럼 이상치 제거

In [ ]:
# 습도 컬럼의 첫번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
hum1_q1 = df_stats.loc['25%','hum']
hum1_q3 = df_stats.loc['75%','hum']
hum1_min = df_stats.loc['min','hum']
hum1_max = df_stats.loc['max','hum']
hum1_IQR = hum1_q3-hum1_q1
# print(hum_IQR)
hum1_min_outlier = hum1_q1-(1.5*hum1_IQR)
hum1_max_outlier = hum1_q3+(1.5*hum1_IQR)

print(f'습도 컬럼의 첫번째 1사분위 값 = {hum1_q1}')
print(f'습도 컬럼의 첫번째 3사분위 값 = {hum1_q3}')
print(f'습도 컬럼의 첫번째 IQR = {hum1_IQR}')
print(f'습도 컬럼의 첫번째 정상범위의 최소값 = {hum1_min_outlier}')
print(f'습도 컬럼의 첫번째 정상범위의 최대값 = {hum1_max_outlier}')

습도 컬럼의 첫번째 1사분위 값 = 66.0
습도 컬럼의 첫번째 3사분위 값 = 93.0
습도 컬럼의 첫번째 IQR = 27.0
습도 컬럼의 첫번째 정상범위의 최소값 = 25.5
습도 컬럼의 첫번째 정상범위의 최대값 = 133.5

In [ ]:
# 이상치 추출
cond = (df_weather.hum < hum1_min_outlier) | (df_weather.hum > hum1_max_outlier)
print(f'습도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = df_weather.hum.loc[cond]
s_outlier_index = df_weather.hum.loc[cond].index
print(f'습도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_hum = df_weather.hum.drop(index=s_outlier_index)

# 결과 확인
print(f'습도 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_hum}\n')
# cond = ~cond
# print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{df_weather.temp.loc[cond]}\n')

온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 100000, dtype: bool

온도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([ 899,  900,  901,  902,  903,  904,  905,  906,  907,  908,
            ...
            4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473],
           dtype='int64', length=3575)

온도 컬럼의 이상치를 제거한 결과 확인하기 :
0        34
1        34
2        34
3        34
4        34
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 96425, dtype: int64

In [ ]:
# 온도 컬럼의 두번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_hum = cleaned_hum.describe()
print(f'온도 컬럼의 두번째 요약 통계량 :\n{stats_hum}\n')

hum2_q1 = stats_hum.loc['25%']
hum2_q3 = stats_hum.loc['75%']
hum2_min = stats_hum.loc['min']
hum2_max = stats_hum.loc['max']
hum2_IQR = hum2_q3-hum2_q1
# print(temp_IQR)
hum2_min_outlier = hum2_q1-(1.5*hum2_IQR)
hum2_max_outlier = hum2_q3+(1.5*hum2_IQR)

print(f'습도 컬럼의 두번째 1사분위 값 = {hum2_q1}')
print(f'습도 컬럼의 두번째 3사분위 값 = {hum2_q3}')
print(f'습도 컬럼의 두번째 IQR = {hum2_IQR}')
print(f'습도 컬럼의 두번째 정상범위의 최소값 = {hum2_min_outlier}')
print(f'습도 컬럼의 두번째 정상범위의 최대값 = {hum2_max_outlier}')

온도 컬럼의 두번째 요약 통계량 :
count    97484.000000
mean        16.665627
std          3.572323
min          9.000000
25%         15.000000
50%         16.000000
75%         19.000000
max         25.000000
Name: temp, dtype: float64

습도 컬럼의 두번째 1사분위 값 = 69.0
습도 컬럼의 두번째 3사분위 값 = 93.0
습도 컬럼의 두번째 IQR = 24.0
습도 컬럼의 두번째 정상범위의 최소값 = 33.0
습도 컬럼의 두번째 정상범위의 최대값 = 129.0

In [ ]:
# 온도 컬럼의 두번째 이상치 추출
cond = (cleaned_hum < hum2_min_outlier) | (cleaned_hum > hum2_max_outlier)
print(f'습도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_hum.loc[cond]
s_outlier_index = cleaned_hum.loc[cond].index
print(f'습도 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_hum = cleaned_hum.drop(index=s_outlier_index)

# 결과 확인
print(f'습도 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_hum}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

습도 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 97841, dtype: bool

습도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([ 899,  900,  901,  902,  903,  904,  905,  906,  907,  908,
            ...
            4464, 4465, 4466, 4467, 4468, 4469, 4470, 4471, 4472, 4473],
           dtype='int64', length=3575)

습도 컬럼의 이상치를 제거한 결과 확인하기 :
0        34
1        34
2        34
3        34
4        34
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 94266, dtype: int64

In [ ]:
# 온도 컬럼의 세번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_hum = cleaned_hum.describe()
print(f'온도 컬럼의 세번째 요약 통계량 :\n{stats_hum}\n')

hum3_q1 = stats_hum.loc['25%']
hum3_q3 = stats_hum.loc['75%']
hum3_min = stats_hum.loc['min']
hum3_max = stats_hum.loc['max']
hum3_IQR = hum3_q3-hum3_q1
# print(temp_IQR)
hum3_min_outlier = hum3_q1-(1.5*hum3_IQR)
hum3_max_outlier = hum3_q3+(1.5*hum3_IQR)

print(f'습도 컬럼의 세번째 1사분위 값 = {hum3_q1}')
print(f'습도 컬럼의 세번째 3사분위 값 = {hum3_q3}')
print(f'습도 컬럼의 세번째 IQR = {hum3_IQR}')
print(f'습도 컬럼의 세번째 정상범위의 최소값 = {hum3_min_outlier}')
print(f'습도 컬럼의 세번째 정상범위의 최대값 = {hum3_max_outlier}')

온도 컬럼의 두번째 요약 통계량 :
count    97484.000000
mean        16.665627
std          3.572323
min          9.000000
25%         15.000000
50%         16.000000
75%         19.000000
max         25.000000
Name: temp, dtype: float64

습도 컬럼의 두번째 1사분위 값 = 71.0
습도 컬럼의 두번째 3사분위 값 = 93.0
습도 컬럼의 두번째 IQR = 22.0
습도 컬럼의 두번째 정상범위의 최소값 = 38.0
습도 컬럼의 두번째 정상범위의 최대값 = 126.0

In [ ]:
# 온도 컬럼의 세번째 이상치 추출
cond = (cleaned_hum < hum3_min_outlier) | (cleaned_hum > hum3_max_outlier)
print(f'습도 컬럼의 이상치에 대한 세번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_hum.loc[cond]
s_outlier_index = cleaned_hum.loc[cond].index
print(f'습도 컬럼의 세번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_hum = cleaned_hum.drop(index=s_outlier_index)

# 결과 확인
print(f'습도 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_hum}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

습도 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0         True
1         True
2         True
3         True
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 94266, dtype: bool

습도 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            7340, 7341, 7342, 7343, 7344, 7345, 7346, 7347, 7348, 7349],
           dtype='int64', length=1616)

습도 컬럼의 이상치를 제거한 결과 확인하기 :
7350     45
7351     45
7352     45
7353     45
7354     45
         ..
99995    71
99996    71
99997    71
99998    71
99999    71
Name: hum, Length: 92650, dtype: int64

In [ ]:
# 온도 컬럼의 네번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_hum = cleaned_hum.describe()
print(f'온도 컬럼의 세번째 요약 통계량 :\n{stats_hum}\n')

hum4_q1 = stats_hum.loc['25%']
hum4_q3 = stats_hum.loc['75%']
hum4_min = stats_hum.loc['min']
hum4_max = stats_hum.loc['max']
hum4_IQR = hum4_q3-hum4_q1
# print(temp_IQR)
hum4_min_outlier = hum4_q1-(1.5*hum4_IQR)
hum4_max_outlier = hum4_q3+(1.5*hum4_IQR)

print(f'습도 컬럼의 네번째 1사분위 값 = {hum4_q1}')
print(f'습도 컬럼의 네번째 3사분위 값 = {hum4_q3}')
print(f'습도 컬럼의 네번째 IQR = {hum4_IQR}')
print(f'습도 컬럼의 네번째 정상범위의 최소값 = {hum4_min_outlier}')
print(f'습도 컬럼의 네번째 정상범위의 최대값 = {hum4_max_outlier}')

온도 컬럼의 세번째 요약 통계량 :
count    97484.000000
mean        16.665627
std          3.572323
min          9.000000
25%         15.000000
50%         16.000000
75%         19.000000
max         25.000000
Name: temp, dtype: float64

습도 컬럼의 네번째 1사분위 값 = 71.0
습도 컬럼의 네번째 3사분위 값 = 93.0
습도 컬럼의 네번째 IQR = 22.0
습도 컬럼의 네번째 정상범위의 최소값 = 38.0
습도 컬럼의 네번째 정상범위의 최대값 = 126.0

In [ ]:
# 온도 컬럼의 세번째 이상치 추출
cond = (cleaned_hum < hum4_min_outlier) | (cleaned_hum > hum4_max_outlier)
print(f'습도 컬럼의 이상치에 대한 네번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_hum.loc[cond]
s_outlier_index = cleaned_hum.loc[cond].index
print(f'습도 컬럼의 네번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

습도 컬럼의 이상치에 대한 네번째 불리언 배열 :
7350     False
7351     False
7352     False
7353     False
7354     False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: hum, Length: 92650, dtype: bool

습도 컬럼의 네번째 이상치 데이터의 인덱스 :
Int64Index([], dtype='int64')

#### → atm 컬럼 이상치 제거

In [ ]:
# 기압 컬럼의 첫번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
atm1_q1 = df_stats.loc['25%','atm']
atm1_q3 = df_stats.loc['75%','atm']
atm1_min = df_stats.loc['min','atm']
atm1_max = df_stats.loc['max','atm']
atm1_IQR = atm1_q3-atm1_q1
# print(hum_IQR)
atm1_min_outlier = atm1_q1-(1.5*atm1_IQR)
atm1_max_outlier = atm1_q3+(1.5*atm1_IQR)

print(f'기압 컬럼의 첫번째 1사분위 값 = {atm1_q1}')
print(f'기압 컬럼의 첫번째 3사분위 값 = {atm1_q3}')
print(f'기압 컬럼의 첫번째 IQR = {atm1_IQR}')
print(f'기압 컬럼의 첫번째 정상범위의 최소값 = {atm1_min_outlier}')
print(f'기압 컬럼의 첫번째 정상범위의 최대값 = {atm1_max_outlier}')

기압 컬럼의 첫번째 1사분위 값 = 1002.0
기압 컬럼의 첫번째 3사분위 값 = 1007.0
기압 컬럼의 첫번째 IQR = 5.0
기압 컬럼의 첫번째 정상범위의 최소값 = 994.5
기압 컬럼의 첫번째 정상범위의 최대값 = 1014.5

In [ ]:
# 이상치 추출
cond = (df_weather.atm < atm1_min_outlier) | (df_weather.atm > atm1_max_outlier)
print(f'기압 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = df_weather.atm.loc[cond]
s_outlier_index = df_weather.atm.loc[cond].index
print(f'기압 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_atm = df_weather.atm.drop(index=s_outlier_index)

# 결과 확인
print(f'습도 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_atm}\n')
# cond = ~cond
# print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{df_weather.temp.loc[cond]}\n')

기압 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0         True
1         True
2         True
3         True
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: atm, Length: 100000, dtype: bool

기압 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            73730, 73731, 73732, 73733, 73734, 73735, 73736, 73737, 73738,
            73739],
           dtype='int64', length=6811)

습도 컬럼의 이상치를 제거한 결과 확인하기 :
5193     1014
5194     1014
5195     1014
5196     1014
5197     1014
         ...
99995    1009
99996    1009
99997    1009
99998    1009
99999    1009
Name: atm, Length: 93189, dtype: int64

In [ ]:
# 기압 컬럼의 두번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_atm = cleaned_atm.describe()
print(f'기압 컬럼의 두번째 요약 통계량 :\n{stats_atm}\n')

atm2_q1 = stats_atm.loc['25%']
atm2_q3 = stats_atm.loc['75%']
atm2_min = stats_atm.loc['min']
atm2_max = stats_atm.loc['max']
atm2_IQR = atm2_q3-atm2_q1
# print(temp_IQR)
atm2_min_outlier = atm2_q1-(1.5*atm2_IQR)
atm2_max_outlier = atm2_q3+(1.5*atm2_IQR)

print(f'기압 컬럼의 두번째 1사분위 값 = {atm2_q1}')
print(f'기압 컬럼의 두번째 3사분위 값 = {atm2_q3}')
print(f'기압 컬럼의 두번째 IQR = {atm2_IQR}')
print(f'기압 컬럼의 두번째 정상범위의 최소값 = {atm2_min_outlier}')
print(f'기압 컬럼의 두번째 정상범위의 최대값 = {atm2_max_outlier}')

기압 컬럼의 두번째 요약 통계량 :
count    93189.000000
mean      1004.585509
std          4.868920
min        995.000000
25%       1002.000000
50%       1006.000000
75%       1007.000000
max       1014.000000
Name: atm, dtype: float64

기압 컬럼의 두번째 1사분위 값 = 1002.0
기압 컬럼의 두번째 3사분위 값 = 1007.0
기압 컬럼의 두번째 IQR = 5.0
기압 컬럼의 두번째 정상범위의 최소값 = 994.5
기압 컬럼의 두번째 정상범위의 최대값 = 1014.5

In [ ]:
# 기압 컬럼의 두번째 이상치 추출
cond = (cleaned_atm < atm2_min_outlier) | (cleaned_atm > atm2_max_outlier)
print(f'기압 컬럼의 이상치에 대한 세번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_atm.loc[cond]
s_outlier_index = cleaned_atm.loc[cond].index
print(f'기압 컬럼의 세번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

기압 컬럼의 이상치에 대한 세번째 불리언 배열 :
5193     False
5194     False
5195     False
5196     False
5197     False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: atm, Length: 93189, dtype: bool

기압 컬럼의 세번째 이상치 데이터의 인덱스 :
Int64Index([], dtype='int64')

습도 컬럼의 이상치를 제거한 결과 확인하기 :
5193     1014
5194     1014
5195     1014
5196     1014
5197     1014
         ...
99995    1009
99996    1009
99997    1009
99998    1009
99999    1009
Name: atm, Length: 93189, dtype: int64

#### → speed 컬럼 이상치 제거

In [ ]:
# 풍속 컬럼의 첫번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
speed1_q1 = df_stats.loc['25%','speed']
speed1_q3 = df_stats.loc['75%','speed']
speed1_min = df_stats.loc['min','speed']
speed1_max = df_stats.loc['max','speed']
speed1_IQR = speed1_q3-speed1_q1
# print(hum_IQR)
speed1_min_outlier = speed1_q1-(1.5*speed1_IQR)
speed1_max_outlier = speed1_q3+(1.5*speed1_IQR)

print(f'풍속 컬럼의 첫번째 1사분위 값 = {speed1_q1}')
print(f'풍속 컬럼의 첫번째 3사분위 값 = {speed1_q3}')
print(f'풍속 컬럼의 첫번째 IQR = {speed1_IQR}')
print(f'풍속 컬럼의 첫번째 정상범위의 최소값 = {speed1_min_outlier}')
print(f'풍속 컬럼의 첫번째 정상범위의 최대값 = {speed1_max_outlier}')

풍속 컬럼의 첫번째 1사분위 값 = 1.5
풍속 컬럼의 첫번째 3사분위 값 = 4.6
풍속 컬럼의 첫번째 IQR = 3.0999999999999996
풍속 컬럼의 첫번째 정상범위의 최소값 = -3.1499999999999995
풍속 컬럼의 첫번째 정상범위의 최대값 = 9.25

In [ ]:
# 이상치 추출
cond = (df_weather.speed < speed1_min_outlier) | (df_weather.speed > speed1_max_outlier)
print(f'풍속 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{cond}\n')

s_outlier = df_weather.speed.loc[cond]
s_outlier_index = df_weather.speed.loc[cond].index
print(f'풍속 컬럼의 첫번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 이상치 삭제 --> df.col.drop(index=[이상치 행의 인덱스])
cleaned_speed = df_weather.speed.drop(index=s_outlier_index)

# 결과 확인
print(f'풍속 컬럼의 이상치를 제거한 결과 확인하기 :\n{cleaned_speed}\n')
# cond = ~cond
# print(f'온도 컬럼의 이상치에 대한 첫번째 불리언 배열 :\n{df_weather.temp.loc[cond]}\n')

풍속 컬럼의 이상치에 대한 첫번째 불리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: speed, Length: 100000, dtype: bool

풍속 컬럼의 첫번째 이상치 데이터의 인덱스 :
Int64Index([71403, 71404, 71405, 71406, 71407, 71408, 71409, 71410, 71411,
            71412,
            ...
            90267, 90268, 90269, 90270, 90271, 90272, 90273, 90274, 90275,
            90276],
           dtype='int64', length=2157)

풍속 컬럼의 이상치를 제거한 결과 확인하기 :
0        3.1
1        3.1
2        3.1
3        3.1
4        3.1
        ...
99995    2.6
99996    2.6
99997    2.6
99998    2.6
99999    2.6
Name: speed, Length: 97843, dtype: float64

In [ ]:
# 풍속 컬럼의 두번째 이상치 판단
"""
1. IQR = Q3 - Q1
2. 정상 범위의 최소 : Q1 - (IQR*1.5)
3. 정상 범위의 최대 : Q3 + (IQR*1.5)
"""
stats_speed = cleaned_speed.describe()
print(f'기압 컬럼의 두번째 요약 통계량 :\n{stats_atm}\n')

speed2_q1 = stats_speed.loc['25%']
speed2_q3 = stats_speed.loc['75%']
speed2_min = stats_speed.loc['min']
speed2_max = stats_speed.loc['max']
speed2_IQR = speed2_q3-speed2_q1
# print(temp_IQR)
speed2_min_outlier = speed2_q1-(1.5*speed2_IQR)
speed2_max_outlier = speed2_q3+(1.5*speed2_IQR)

print(f'풍속 컬럼의 두번째 1사분위 값 = {speed2_q1}')
print(f'풍속 컬럼의 두번째 3사분위 값 = {speed2_q3}')
print(f'풍속 컬럼의 두번째 IQR = {speed2_IQR}')
print(f'풍속 컬럼의 두번째 정상범위의 최소값 = {speed2_min_outlier}')
print(f'풍속 컬럼의 두번째 정상범위의 최대값 = {speed2_max_outlier}')

기압 컬럼의 두번째 요약 통계량 :
count    93189.000000
mean      1004.585509
std          4.868920
min        995.000000
25%       1002.000000
50%       1006.000000
75%       1007.000000
max       1014.000000
Name: atm, dtype: float64

풍속 컬럼의 두번째 1사분위 값 = 1.5
풍속 컬럼의 두번째 3사분위 값 = 4.6
풍속 컬럼의 두번째 IQR = 3.0999999999999996
풍속 컬럼의 두번째 정상범위의 최소값 = -3.1499999999999995
풍속 컬럼의 두번째 정상범위의 최대값 = 9.25

In [ ]:
# 풍속 컬럼의 두번째 이상치 추출
cond = (cleaned_speed < speed2_min_outlier) | (cleaned_speed > speed2_max_outlier)
print(f'풍속 컬럼의 이상치에 대한 세번째 불리언 배열 :\n{cond}\n')

s_outlier = cleaned_speed.loc[cond]
s_outlier_index = cleaned_speed.loc[cond].index
print(f'풍속 컬럼의 세번째 이상치 데이터의 인덱스 : \n{s_outlier_index}\n')

# 인덱스 확인결과 : Int64Index([], dtype='int64') <<<--- 결과값이 없다.
# 따라서, 더이상 이상치를 구하지 않아도 된다.

풍속 컬럼의 이상치에 대한 세번째 불리언 배열 :
0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: speed, Length: 97843, dtype: bool

풍속 컬럼의 세번째 이상치 데이터의 인덱스 :
Int64Index([], dtype='int64')

### ■ pd.concat() : 데이터 통합

In [ ]:
# print(f'온도 = \n{cleaned_temp}')
# print(f'습도 = \n{cleaned_hum}')
# print(f'기압 = \n{cleaned_atm}')
# print(f'풍속 = \n{cleaned_speed}')

In [ ]:
# 원본 데이터(df_weather) --> 데이터 확인
print(df_weather)

In [ ]:
# 각 컬럼 병합 --> 데이터프레임 생성
# concat는 데이터를 순서대로 통합(순서 중요)

df_total = pd.concat([cleaned_temp,cleaned_hum,cleaned_atm,cleaned_speed],
                     axis=1, join='inner')
# ignore_index=True : 동작하지 않음

# 결과 확인하기
print(df_total)

# 누락 제거 --> dropna()
df_remain = df_total.dropna()
print(df_remain)

# concat을 join=outer로 하고 df.dropna() 해준 결과 == concat을 join=inner로 했을때와 동일한 결과

       temp  hum   atm  speed
7350     19   45  1013    1.0
7351     19   45  1013    1.0
7352     19   45  1013    1.0
7353     19   45  1013    1.0
7354     19   45  1013    1.0
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[89594 rows x 4 columns]
       temp  hum   atm  speed
7350     19   45  1013    1.0
7351     19   45  1013    1.0
7352     19   45  1013    1.0
7353     19   45  1013    1.0
7354     19   45  1013    1.0
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[89594 rows x 4 columns]

### ■ df.reset_index()

In [ ]:
# concat() 할때 ignore_index가 제대로 동작하지 않기 때문에, reset_index()로 인덱스를 재설정해준다.

# 인덱스 재설정
df_total.reset_index(drop=True,inplace=True)

# 결과 확인하기
print(df_total)

       index  temp  hum   atm  speed
0          0    19   45  1013    1.0
1          1    19   45  1013    1.0
2          2    19   45  1013    1.0
3          3    19   45  1013    1.0
4          4    19   45  1013    1.0
...      ...   ...  ...   ...    ...
89589  89589     9   71  1009    2.6
89590  89590     9   71  1009    2.6
89591  89591     9   71  1009    2.6
89592  89592     9   71  1009    2.6
89593  89593     9   71  1009    2.6

[89594 rows x 5 columns]

In [ ]:
# 누락이 존재하는 경우 (NaN)데이터타입  --> float64
# join='outer'로 했을 경우, NaN이 존재하는데 이럴때 데이터타입이 float로 바뀐다.

### ■ 처리하면 안되는 이상치

In [ ]:
# 의료 Data는 이상치를 처리하면 안된다.
# 이상치 Data = 환자 데이타

## § Feature Engineering

In [ ]:
# 붓꽃 데이터 불러오기
file_path = '/content/drive/MyDrive/KDT/정형데이터분석시각화/iris_dataset.csv'
df_iris = pd.read_csv(file_path)

# print(df_iris)

setosa        50
versicolor    50
virginica     50
Name: label, dtype: int64

### ■ Label Encoding : df.replace()

In [ ]:
# 붓꽃 품종의 종류 확인 --> value_counts()
print(df_iris.label.value_counts())

# Label Encoding 실행

# replace() 사용
df_iris_label_encoding = df_iris.replace({'setosa':0,'versicolor':1,'virginica':2})

# 결과 확인
# print(df_iris_label_encoding)
print(df_iris_label_encoding.label.value_counts())

0    50
1    50
2    50
Name: label, dtype: int64

### ■ One-Hot Encoding : pd.get_dummies()

In [ ]:
# pd.get_dummies(df, columns=[])
df_iris_one_hot = pd.get_dummies(df_iris, columns=['label'])

# 결과 확인하기
print(df_iris_one_hot)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     label_setosa  label_versicolor  label_virginica
0               1                 0                0
1               1                 0                0
2               1                 0                0
3               1                 0                0
4               1                 0                0
..            ...               ...              ...
145             0                 0                1
146             0                 0                1
147             0                 0                1
148             0                 0                1
149             0                 0                1

[150 rows x 7 columns]

### ■ 구간화(Binning) : pd.cut()

In [ ]:
# pd.cut(x, bins, labels)
# 데이터 생성
custom_ages = [1, 10, 15, 13, 21, 23, 37, 31, 43, 80, 61, 20, 41, 32, 100]
custom_bins = [0,15,25,35,60,100]
custom_labels = ['어린이','청년','장년','중년','노년']

# pd.cut() 사용
age_data = pd.cut(x=custom_ages, bins=custom_bins, labels=custom_labels)

# 결과 확인하기
# print(f'구간화의 결과 :\n{age_data}\n')

# DataFrame 자료형 생성
# df_age = pd.DataFrame(data=custom_ages, columns=['age'])  # 아래와 동일한 결과
df_age = pd.DataFrame(data={'age':custom_ages})
print(df_age)

# DataFrame 자료형 데이터 : 컬럼 값 수정 --> 숫자형 --> 범주형으로 변환
# df_age.loc[:,'age'] = age_data          # <-- 기존의 age 컬럼을 업데이트
# df_age.loc[:,'age2'] = age_data          # <-- 새로운 age22 컬럼을 인서트
# print(f'구간화의 결과 : \n{df_age}')

    age
0     1
1    10
2    15
3    13
4    21
5    23
6    37
7    31
8    43
9    80
10   61
11   20
12   41
13   32
14  100

In [ ]:
custom_ages = [1, 10, 15, 13, 21, 23, 37, 31, 43, 80, 61, 20, 41, 32, 100]
custom_bins = [0,15,25,35,60,100]
custom_labels = ['어린이','청년','장년','중년','노년']

# pd.cut() 사용
# age_data = pd.cut(x=custom_ages, bins=custom_bins, labels=custom_labels)
age_data = pd.cut(x=custom_ages, bins=custom_bins)

# 결과 확인하기
print(f'구간화의 결과 :\n{age_data}\n')

구간화의 결과 :
[(0, 15], (0, 15], (0, 15], (0, 15], (15, 25], ..., (60, 100], (15, 25], (35, 60], (25, 35], (60, 100]]
Length: 15
Categories (5, interval[int64, right]): [(0, 15] < (15, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
# 추가사항 =====================================================================
import pandas as pd

# pd.cut(x, bins, labels)
# 데이터 생성
custom_ages = [1, 10, 15, 13, 21, 23, 37, 31, 43, 80, 61, 20, 41, 32, 100]
custom_bins = [0,15,25,35,60,100]
custom_labels = ['어린이','청년','장년','중년','노년']

# DataFrame 자료형 생성
df_age = pd.DataFrame(data=custom_ages, columns=['age'])  # 아래와 동일한 결과
# df_age = pd.DataFrame(data={'age':custom_ages})
print(f'{df_age}\n')

# age 컬럼 --> 값 추출
# df_age.loc[:,'age']
vals = df_age.age.values
print(vals)

# pd.cut() 사용
age_data = pd.cut(x=vals, bins=custom_bins, labels=custom_labels)

# 결과 확인하기
print(f'구간화의 결과 :\n{age_data}\n')


# DataFrame 자료형 데이터 : 컬럼 값 수정 --> 숫자형 --> 범주형으로 변환
# df_age.loc[:,'age'] = age_data          # <-- 기존의 age 컬럼을 업데이트
# df_age.loc[:,'age2'] = age_data          # <-- 새로운 age2 컬럼을 인서트
df_age.age2 = age_data          # <-- 이렇게 표현하면 에러는 안나지만 적용도 안됨
print(f'구간화의 결과 : \n{df_age}')

    age
0     1
1    10
2    15
3    13
4    21
5    23
6    37
7    31
8    43
9    80
10   61
11   20
12   41
13   32
14  100

[  1  10  15  13  21  23  37  31  43  80  61  20  41  32 100]
구간화의 결과 :
['어린이', '어린이', '어린이', '어린이', '청년', ..., '노년', '청년', '중년', '장년', '노년']
Length: 15
Categories (5, object): ['어린이' < '청년' < '장년' < '중년' < '노년']

구간화의 결과 :
    age
0     1
1    10
2    15
3    13
4    21
5    23
6    37
7    31
8    43
9    80
10   61
11   20
12   41
13   32
14  100

<ipython-input-6-2baf4c65ab02>:30: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df_age.age2 = age_data          # <-- 새로운 age22 컬럼을 인서트

### ■ Scaling