<a href="https://colab.research.google.com/github/HongJeongHwan/Data_Preprocessing/blob/main/%EC%8B%A4%EC%8A%B501_%EC%A0%95%ED%98%95%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 불필요한 컬럼 삭제하기

In [ ]:
# 필요한 라이브러리 임포트
import pandas as pd

# 데이터 불러오기
file_path = '/content/drive/MyDrive/KDT/03. 정형데이터분석시각화/02. Data파일/ns_202104.csv'

# pd.read_csv() 사용
df_ns = pd.read_csv(file_path, encoding='cp949')

# 결과 확인하기
# print(df_ns)
print(df_ns.columns)

<ipython-input-2-f99824c24103>:8: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ns = pd.read_csv(file_path, encoding='cp949')

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')

In [ ]:
# 1. loc 인덱서 + 슬라이싱 이용 --> 'Unnamed:13' 제거
print(df_ns.columns)

df1 = df_ns.loc[:,'번호':'등록일자']
print(df1)

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자', 'Unnamed: 13'],
      dtype='object')
            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]

In [ ]:
# 2. fancy indexing
df2 = df_ns.loc[:,('번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권','주제분류번호', '도서권수', '대출건수', '등록일자')]
print(df2)

            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]

In [ ]:
# 3. Boolean indexing

cond1 = (df_ns.columns != 'Unnamed: 13')
df3 = df_ns.loc[:,cond1]
print(df3)

            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호    권   주제분류번호  도서권수  대출건수  \
0       9788937444319              NaN  NaN  NaN      NaN     1     0
1       9791190123969              NaN  NaN  NaN      NaN     1     0
2       9788968332982              NaN  NaN  NaN      NaN     1     0
3       9788970759906              NaN  NaN  NaN      NaN     1     0
4       9788934990833              NaN  NaN  NaN      NaN     1     0
...               ...              ...  ...  ...      ...   ...   ...
401677  9788977352971  9788977352988.0  NaN    3  811.608     1     0
401678  9788985367448  9788985367424.0  NaN    2   688.04     1     0
401679  9788937401596  9788937401589.0  NaN    2    813.6     1     0
401680  9788947700368  9788947700405.0  NaN    3   809.05     2     0
401681  9788970610092  9788970610092.0    0    1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]

In [ ]:
# 4. 슬라이싱

df4 = df_ns.loc[:,'번호':'등록일자']
print(df4)

In [ ]:
# 5. drop()
col_n = df_ns.columns[-1]           # <-- 마지막 컬럼(df.columns는 인덱싱이 가능하다)
df5 = df_ns.drop(axis=1, columns=col_n)
print(df5)

In [ ]:
# 6. dropna()
# print(df_ns.keys())
# print(df_ns.iloc[:,13].value_counts())
print(df_ns.loc[:,:].value_counts())
# print(df_ns.iloc[:,13])
# print(df_ns.loc[:,'Unnamed: 13'].isnull().sum() == len(df_ns))
# 'Unnamed: 13' 컬럼은 전체 데이터가 누락데이터

df6 = df_ns.dropna(axis=1, how='all')      # axis=0: index, axis=1: columns
# print(df6)

Series([], dtype: int64)

In [ ]:
### 비교 연산자 / 논리 연산자 적용

# 파일 경로 설정
file_path = '/content/drive/MyDrive/KDT/정형데이터분석시각화/시험점수.csv'
df_score = pd.read_csv(file_path, encoding='cp949')

print(df_score)
print('\n')
# print(df_score.columns)
# '이름', '성별', '학년', '반', '국어', '수학', '영어', '사회', '과학'

# print(df_score.학년)
'''
문제
1. 전체 학년중 3학년 학생의 데이터 추출
2. 국어점수가 70점 이상인
3. 성별이 여자인
4. 3학년 학생이고, 국어점수가 70점 이상, 성별이 여자
'''
# 1.
cond1 = (df_score.loc[:,'학년'] == 3)
cond1 = (df_score.학년 == 3)
ans1 = df_score.loc[cond1,:]
print(f'1. 전체 학년중 3학년 학생의 데이터 추출 결과 :\n{ans1}')
# 2.
cond2 = (df_score.loc[:,'국어'] >= 70)
cond2 = (df_score.국어 >= 70)
ans2 = df_score.loc[cond2,:]
print(f'2. 국어점수가 70점 이상인 학생의 데이터 추출 결과 :\n{ans2}')
# 3.
cond3 = (df_score.loc[:,'성별'] == '여자')
cond3 = (df_score.성별 == '여자')
ans3 = df_score.loc[cond3,:]
print(f'3. 성별이 여자인 학생의 데이터 추출 결과 :\n{ans3}')
# 4.
ans3 = df_score.loc[cond1 & cond2 & cond3,:]
print(f'4. 3학년 학생이고, 국어점수가 70점 이상, 성별이 여자 학생의 데이터 추출 결과 :\n{ans3}')

##특정 행 추출하기

In [ ]:
# 기본데이터 생성하기
df_book = df_ns.drop(columns=['Unnamed: 13'])

# 결과 확인하기
print(df_book)

In [ ]:
# 출판사가 '한빛미디어'인 행 추출
# 비교연산자 --> 불리언 배열 생성

#loc 인덱서 + 불리언 배열 --> 불리언 인덱싱 실행
cond1 = (df_book.출판사 == '한빛미디어')

# 결과 확인하기
print(df_book.loc[cond1,:])

In [ ]:
# 대출건수 > 1000 --> 조건만족 행 추출
# df_book.keys()
cond2 = (df_book.대출건수 > 1000)

print(df_book.loc[cond2,('번호','도서명','저자','출판사','발행년도','ISBN','세트 ISBN','부가기호','권','주제분류번호','도서권수','대출건수','등록일자')])

            번호                                      도서명                 저자  \
94781    94782  사피엔스 :유인원에서 사이보그까지, 인간 역사의 대담하고 위대한 질문   유발 하라리 지음 ;조현욱 옮김
346944  346945                         해커스 토익:Listening       David Cho 지음

             출판사  발행년도           ISBN 세트 ISBN 부가기호    권  주제분류번호  도서권수  대출건수  \
94781        김영사  2016  9788934972464     NaN  NaN  NaN   909.0    30  1468
346944  해커스어학연구소  2005  9788990700148     NaN    1  NaN  740.77    29  1065

              등록일자
94781   2016-04-22
346944  2005-02-01

##중복된 행 추출하기

### ■ duplicated()

In [ ]:
# duplicated(subset, keep) 이용 --> 불리언 배열 리턴한다.
# df_temp1 = df_book.duplicated(subset='저자', keep='last')
# print(df_temp1)

# 중복된 행의 개수 계산 및 추출
df_dupli = df_book.duplicated()
num1 = df_dupli.sum()
# 번호컬럼: key처럼 모두 다르니.. 중복이 0이 나온다.

df_dupli = df_book.duplicated()
num1 = df_dupli.sum()
print(f'중복된 행의 개수 = {num1}개')

'''
- subset
column label or sequence of labels, optional
Only consider certain columns for identifying duplicates, by default use all of the columns.


- keep : {'first','last',False}, (default:'first')
Determines which duplicates (if any) to mark.

first : Mark duplicates as True except for the first occurrence.
last : Mark duplicates as True except for the last occurrence.
False : Mark all duplicates as True.
'''

중복된 행의 개수 = 0개

"\n- subset\ncolumn label or sequence of labels, optional\nOnly consider certain columns for identifying duplicates, by default use all of the columns.\n\n\n- keep : {'first','last',False}, (default:'first')\nDetermines which duplicates (if any) to mark.\n\nfirst : Mark duplicates as True except for the first occurrence.\nlast : Mark duplicates as True except for the last occurrence.\nFalse : Mark all duplicates as True.\n"

In [ ]:
# '도서명', '저자', ISBN' 컬럼 기준 --> 중복된 행 찾기(1) :keep='first'/'last'
num2 = df_book.duplicated(subset=['도서명','저자','ISBN']).sum()

# 이 조건으로 중복된 행의 개수 계산 및 추출
print(f'중복된 행의 개수 = {num2}개')

중복된 행의 개수 = 20191개

In [ ]:
# '도서명', '저자', ISBN' 컬럼 기준 --> 중복된 행 찾기(2)
num3 = df_book.duplicated(subset=['도서명','저자','ISBN'],keep=False).sum()

# 이 조건으로 중복된 행의 개수 계산 및 추출
print(f'중복된 행의 개수 = {num3}개')

중복된 행의 개수 = 35770개

### ■ drop_duplicates()

In [ ]:
# drop_duplicates(subset,keep,inplace,ignore_index)
# : 모든 컬럼을 기준으로 중복된 행을 찾아서 첫번째 값을 제외한 나머지 행을 제거
# subset : 특정 컬럼을 기준으로 중복된 행을 찾는 경우 사용
# keep : 중복된 행을 제거할 때 남길 행 지정, 기본값 = 'first'
# inplace : inplace=True 현재 데이터 프레임 수정
# ignore_index=True : 인덱스 재설정

In [ ]:
# 중복된 행 추출 : 첫번째 방법

# 불리언 배열 --> 중복된 행 추출
cond3 = (df_book.duplicated(subset=['도서명','저자','ISBN']) == True)

# print(df_book.loc[cond3,:])

# 중복된 행의 인덱스 추출
dupli_index = df_book.loc[cond3,:].index
print(f'중복된 행의 인덱스 :\n{dupli_index}')

# drop() 함수 호출 : index=행지정, columns=열지정
df_book4 = df_book.drop(index=dupli_index)

# 결과 확인하기
df_book4
# print(len(df_book4))

In [ ]:
# 중복된 행 추출 : 두번째 방법

# drop_duplicates()
df_book5 = df_book.drop_duplicates(subset=['도서명','저자','ISBN'],keep='first',ignore_index=True )

df_book5
# print(len(df_book5))

### ■ groupby()

In [ ]:
# 중복되는 데이터를 그룹별로 모아서 처리하기

# 중복여부를 확인하여 그룹별로 묶을 컬럼과 대출건수 컬럼 --> fancy indexing
df_loan = df_book.loc[:,['도서명','저자','ISBN','대출건수']]

# 결과 확인하기
# print(df_loan)

                                                                                                            대출건수
도서명                                             저자                                           ISBN
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                                       9788955025637    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김                     9788992924146    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                                    9788993466089     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음                                   9788971728000     3
 ,에게                                            이기린(이진희)                                     9791196137014     0
...                                                                                                          ...
茶의 과학                                           정동효                                          9788938425188     1
＋α를 위한 도전                                       한국능률협회 [편]                                   9788989503088     4
７·１３水害                                          新潟日報事業社 [編]                                  9784861320699     1
＠좌절＋열공 :우리 시대 멘토 9인이 전하는 좌절 극복과 진짜 공부 이야기       강신주, 강풀, 김진숙, 김진혁, 도종환, 엄기호, 정혜신, 정희진, 조국 지음 9788974834791    50
ｉ                                               西加奈子 著                                       9784591153093     0

[380909 rows x 1 columns]

In [ ]:
# groupby() 함수 적용하기
print(f'통계함수를 적용하지 않은 결과 :\n{df_loan.groupby(by=["도서명","저자","ISBN"])}\n')
# df_loan.groupby(by=['도서명','저자','ISBN'])

# 통계처리한 결과 확인
# groupby() 결과물 --> 추가 : sum() 적용 --> 대출건수 컬럼에 적용
print(f'통계함수를 적용한 결과 :\n{df_loan.groupby(by=["도서명","저자","ISBN"]).sum()}')